<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>append_prefix</key>
	<string>- </string>
	<key>backup_destination</key>
	<string>~/Library/Mobile Documents/com~apple~CloudDocs/Dotfolder/Backups/Obsidian Backups</string>
	<key>h_lvl_ignore</key>
	<string>h1 h2 h3 h4 h5 h6</string>
	<key>input_append</key>
	<string>clipboard</string>
	<key>merge_nested_tags</key>
	<true/>
	<key>new_note_location</key>
	<string>Knowledge Base</string>
	<key>ocr_languages</key>
	<string>eng+deu</string>
	<key>scratchpad_note_path</key>
	<string>Writing/Acceleration of Research/Acco Kanban.md#Scratchpad</string>
	<key>supercharged_icon_file</key>
	<string>~/Main Vault/Meta/supercharged-icons.md</string>
	<key>template_note_path</key>
	<string>/Meta/Tempalter/T Basic.md</string>
	<key>workspace_1</key>
	<string>Default</string>
	<key>workspace_2</key>
	<string>Longform</string>
	<key>workspace_3</key>
	<string>Temp</string>
	<key>workspace_to_spellcheck</key>
	<string>Longform</string>
</dict>
</plist>
