name: Markdownlint check

on:
  push:
    branches: [main]
    paths:
      - "**.md"
      - ".github/workflows/markdownlint.yml"
      - ".markdownlint.*" # markdownlint config files
  pull_request:
    paths:
      - "**.md"

jobs:
  markdownlint:
    name: Markdownlint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: DavidAnson/markdownlint-cli2-action@v20
        with:
          globs: "**/*.md"
