name: PR title

on:
  pull_request_target:
    types:
      - opened
      - edited
      - synchronize
      - reopened
      - ready_for_review

permissions:
  pull-requests: read

jobs:
  semantic-pull-request:
    name: Check PR title
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v6
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          requireScope: false
          subjectPattern: ^(?![A-Z]).+$ # disallow title starting with capital
          types: | # add `improv` to the list of allowed types
            improv
            fix
            feat
            refactor
            build
            ci
            style
            test
            chore
            perf
            docs
            break
            revert
